<div style="width:50%; margin: auto; font-weight: lighter;" class="recent_trans">
  <p class="title">Recent Expenses:</p>
  <hr>
  <table class="table rounded-table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let expense_item of expense | slice:-4">
      <tr>
        <td>{{expense_item.description}}</td>
        <td style="color: rgb(246, 67, 47); font-weight: bold;">${{expense_item.amount | number}}</td>
        <td>
          <span *ngIf="isLargeScreen">{{expense_item.expense_date | date}}</span>
          <span *ngIf="!isLargeScreen">{{expense_item.expense_date | date:'MM/yyyy'}}</span>
        </td>
      </tr>
    </tbody>
    <p style="margin-top: 10px; font-size: 16px;">Total expense: <span
        style="color: rgb(246, 67, 47);">${{calculateExpenseTotal() | number}}</span></p>
    <button type="button" class="btn btn-outline-primary" routerLink="/view-expense" routerLinkActive="active"
      style="margin-left: 5px;">View All</button>
  </table>
  <br>
  <p class="title">Recent Income:</p>
  <hr>
  <table class="table rounded-table">
    <thead>
      <tr>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let income_item of income | slice:-4">
      <tr>
        <td>{{income_item.description}}</td>
        <td style="color: green;font-weight: bold;">${{income_item.amount | number}}</td>
        <td>
          <span *ngIf="isLargeScreen">{{income_item.income_date| date}}</span>
          <span *ngIf="!isLargeScreen">{{income_item.income_date| date:'MM/yyyy'}}</span>
        </td>
      </tr>
    </tbody>
    <p style="margin-top: 10px; font-size: 16px;">Total Income: <span
        style="color: green; font-weight: bold;">${{calculateIncomeTotal() | number}}</span></p>
    <button type="button" class="btn btn-outline-primary" routerLink="/view-income" routerLinkActive="active"
      style="margin-left: 5px;">View All</button>
  </table>
  <hr>
  <p style="font-size: 18px;">Total Balance: <span
      [ngClass]="{'positive':calculateBalance()>=0, 'negative':calculateBalance()<0}">${{calculateBalance() | number}}</span></p>
</div>
