<div style="width:50%; margin: auto; font-weight: lighter;" class="recent_trans">
  <p class="title">Your Recent Expenses:</p>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">Category</th> -->
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let expense_item of expense | slice:0:5">
      <tr>
        <!-- <td>{{expense_item.id}}</td> -->
        <td>{{expense_item.description}}</td>
        <td>${{expense_item.amount}}</td>
        <td>{{expense_item.expense_date| date}}</td>
      </tr>
    </tbody>
    <p>Your total expense: <span style="color: salmon; font-weight: bold;">${{calculateExpenseTotal()}}</span></p>
    <button type="button" class="btn btn-primary" routerLink="/add-expense" routerLinkActive="active">Add
      Expense</button>
    <button type="button" class="btn btn-primary" routerLink="/view-expense" routerLinkActive="active">View All</button>
  </table>
  <p class="title">Your Recent Income:</p>
  <table class="table">
    <thead>
      <tr>
        <!-- <th scope="col">Category</th> -->
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody *ngFor="let income_item of income | slice:0:5">
      <tr>
        <!-- <td>{{income_item.cate_id}}</td> -->
        <td>{{income_item.description}}</td>
        <td>${{income_item.amount}}</td>
        <td>{{income_item.income_date| date}}</td>
      </tr>
    </tbody>
    <p>Your total Income: <span style="color: green; font-weight: bold;">${{calculateIncomeTotal()}}</span></p>
    <button type="button" class="btn btn-primary" routerLink="/add-income" routerLinkActive="active">Add Income</button>
  </table>
  <hr>
  <p>Total Balance: <span
      [ngClass]="{'positive':calculateBalance()>=0, 'negative':calculateBalance()<0}">${{calculateBalance()}}</span></p>
</div>
