mat-sidenav-container {
  height: calc(215vh - 115vh);
}

mat-sidenav {
  width: 170px;
  background-color: rgb(255, 255, 255);
}

mat-sidenav-content {
  background-color: #f4f4f4;
}

.sidebar-list a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin: 10px;
  text-align: center;
}

a {
  text-decoration: none;
  color: rgb(189, 189, 189);
  font-size: 20px;
  font-family: 'Quicksand', sans-serif;
}

mat-list-item {
  width: 75%;
  margin: 40px auto;
}

.active-tab {
  color: rgb(98, 172, 90);
}

.intro-text{
  text-align: center;
  font-family: 'Playfair Display';
  font-size: 30px;
  margin: auto;
  padding-top: 330px;
}

#footer {
  text-align: center;
  padding: 20px 0;
  background-color: rgb(98, 172, 90);
  margin-top: 40px;
  color: white;
  font-family: 'Playfair Display', serif;
}
