form{
  width: 40%;
  margin: auto;
  margin-top: 60px;
  font-weight: lighter;
  margin-bottom: 260px;
  border: solid 1px white;
  border-radius: 10pt;
  padding: 30px;
  background-color: white;
}

p {
  font-size: 40px;
  padding-bottom: 10px;
}

.accepted-format{
  font-size: 12px;
}
