<p *ngIf="profile_data.image"><img [src]="'http://localhost:3000/' + profile_data.image" style="width: 150px; height: 150px; display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;border-radius: 10px;
   "></p>
<table class="table">

  <thead>
    <tr>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <!-- <th scope="col">Profile Picture</th> -->
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{profile_data.first_name}}</td>
      <td>{{profile_data.last_name}}</td>
      <td>{{profile_data.email}}</td>
      <!-- <td *ngIf="profile_data.image"><img [src]="'http://localhost:3000/' + profile_data.image" style="width: 150px; height: 150px;"></td> -->
    </tr>
  </tbody>
  <hr>
  <button class="btn btn-danger" (click)="logout()">Logout</button>
</table>
